html {
  font-family: sans-serif;
}

/* Your CSS below here */
p{
	line-height: 2em;
	text-align: center;
	width: 190px;
	border: 1px solid black;
	border-radius: 8px;
	background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
	background-color: red;
	color: red;
}
