

header{
	padding: 20px;
	font-size: 20px;
	border: 20px solid rgba(0,0,0,0.5);
	background-color: blue;
	color: white;
}

main{
	padding: 20px;
	font-size: 20px;
	border: 20px solid rgba(0,0,0,0.5);
	background-color: yellow;
}

footer{
	padding: 20px;
	font-size: 20px;
	border: 20px solid rgba(0,0,0,0.5);
	background-color: blue;
	color: white;
}